#api {
    background-color: #f6f6f6;
}

#api .h5 {
    font-weight: bold;
}

#api p {
    font-size: 1.125rem;
    color: #434343;
}

#api header>p {
    margin-bottom: 0;
}
#api header {
    margin-bottom: 32px;
}

@media (min-width: 768px) {
    #api h2 {
        margin-bottom: 100px;
    }
}