body:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../../images/background.jpg);
    background-size: cover;
    background-position: center;
}
#home,
#statistics {
    background-color: transparent;
}
@media (min-width: 768px) {
    .fp-viewing-_home #header {
        filter: brightness(0) invert(1);
    }
}
@media (max-width: 767px) {
    #home {
        min-height: 100vh;
    }

    #home img {
        max-width: 180px;
    }
}