#_multilanguage {
    background-color: #f6f6f6;
}

#_multilanguage .h5 {
    font-weight: bold;
}

#_multilanguage p {
    font-size: 1.125rem;
    color: #434343;
}

#_multilanguage header>p {
    margin-bottom: 0;
}
#_multilanguage header {
    margin-bottom: 32px;
}

@media (min-width: 768px) {
    #_multilanguage h2 {
        margin-bottom: 100px;
    }
}