#_notifications {
    background-color: #F3F3F3;
    position: relative;
}

#_notifications h3 {
    margin-bottom: 2.5rem;
}

#list-of-notification-types.nav-tabs {
    border-bottom: 0;
    max-width: 320px;
}
#list-of-notification-types.nav-tabs .nav-link {
    border-width: 0;
    background-position: center;
    background-repeat: no-repeat;
    width: 75px;
    height: 80px;
}
.nav-link[href="#notifications_push"] {
    background-image: url(../../images/sections/notifications/notification-push.svg);
}
.nav-link[href="#notifications_sms"] {
    background-image: url(../../images/sections/notifications/notification-sms.svg);
}
.nav-link[href="#notifications_email"] {
    background-image: url(../../images/sections/notifications/notification-email.svg);
}
.nav-link.active[href="#notifications_push"] {
    background-image: url(../../images/sections/notifications/notification-push_active.svg);
}
.nav-link.active[href="#notifications_sms"] {
    background-image: url(../../images/sections/notifications/notification-sms_active.svg);
}
.nav-link.active[href="#notifications_email"] {
    background-image: url(../../images/sections/notifications/notification-email_active.svg);
}

#list-of-notification-types.nav-tabs .nav-item.show .nav-link,
#list-of-notification-types.nav-tabs .nav-link.active {
    background-color: transparent;
}

#list-of-notification-types {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: space-between;
}
#list-of-notification-types>li:not(:last-child) {
    margin-right: 36px;
}

.list-style-arrow {
    list-style: none;
    padding-left: 0;
    font-size: 1.5rem;
    line-height: 1.75rem;
}
.list-style-arrow>li {
    padding-left: 60px;
    background: url(../../images/sections/notifications/arrow-right.svg) no-repeat 15px center;
    margin-bottom: 40px;
}



#devices__MackBook,
#devices__iPhone-X,
#devices {
    position: absolute;
    background-repeat: no-repeat;
    transition: all .7s ease;
    background-size: 100%;
    background-position: center;
}
#devices {
    right: 50%;
    left: 0;
    top: 0;
    bottom: 0;
}
#devices__MackBook {
    height: 603px;
    width: 1045px;
    bottom: 50px;
    right: 0;
    overflow: hidden;
    background-image: url(../../images/sections/notifications/MacBook.svg);
    background-size: 100% auto;
    transform: translateX(-1045px);
}
#devices__MackBook>.screen{
    position: absolute;
    left: 133px;
    right: 133px;
    top: 46px;
    bottom: 72px;
    background: url(../../images/sections/notifications/MacBook__screen.jpg);
    overflow: hidden;
}
#devices__iPhone-X {
    display: block;
    position: absolute;
    border: none;
    width: 350px;
    height: 700px;
    right: 0;
    bottom: 35px;
    transform: translateX(-210px) translateY(800px);
}
#devices__iPhone-X:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../../images/sections/notifications/iPhone_X.svg);
    background-position: center;
    background-repeat: no-repeat;
}

#devices__iPhone-X>.screen,
#devices__iPhone-X>.sms-messages {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 24px;
    right: 22px;
    overflow: hidden;
}
#devices__iPhone-X>.sms-messages {
    background: #fff;
    background-position: center;
    background-repeat: no-repeat;
    top: 117px;
    bottom: 127px;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}
#devices__iPhone-X>.sms-messages>img {
    margin-bottom: 8px;
    opacity: 0;
    transition: .7s ease;
    transition-delay: 2s;
}
#devices__iPhone-X>.sms-messages>img:nth-child(1) {
    transition-delay: 2.1s;
}
#devices__iPhone-X>.sms-messages>img:nth-child(2) {
    transform: translateY(105px);
    transition-delay: 1.4s;
}
#devices__iPhone-X>.screen{
    background-image:
        url(../../images/sections/notifications/iPhone_X__app_safari.svg),
        url(../../images/sections/notifications/iPhone_X__app_iMessage.svg);
    background-size: auto 100%;
    background-position: center 0, 300px 0;
    background-repeat: no-repeat;
    transition: .7s ease;
    transition-delay: .7s;
}

.alert_iOS {
    background-color: rgba(255,255,255,.92);
    box-shadow: rgba(0,0,0,.24) 0 4px 12px;
    margin: 8px;
    margin-top: 36px;
    border-radius: 13px;
    padding: 0;
    transform: translateY(-150px);
    transition: .48s ease;
}
.alert_iOS>.alert__header {
    padding: 8px 18px;
}
.alert_iOS>.alert__body {
    padding: 8px 16px;
    padding-top: 0;
    font-size: 15px;
    line-height: 18px;
    color: #000;
}

.alert_macOS {
    position: absolute;
    display: flex;
    align-items: center;
    right: 5px;
    top: 50px;
    max-width: 380px;
    background: #fff;
    padding: 0;
    border-radius: 0;
    transform: translateX(400px);
    transition: .7s;
    transition-delay: .7s;
}
.alert_macOS .alert__image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 95px;
    min-height: 95px;
    background: #f1f1f1;
    background-image: url(../../images/sections/notifications/vput.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.alert_macOS .alert__header {
    font-weight: bold;
}
.alert_macOS>figcaption {
    padding: 18px;
    font-size: .8rem;
}

.text-blue { color: #14A4D8; }
.text-green { color: #9EE712; }
.text-orange { color: #FB6E52; }
.text-yellow { color: #FEE900; }


.fp-section.active.fp-completely[data-activated-tab="#notifications_push"] #devices__iPhone-X {
    transform: scale(.6) translateX(-150px) translateY(240px);
}
.fp-section.active.fp-completely[data-activated-tab="#notifications_push"] .alert_iOS {
    transform: translateY(0);
    transition-delay: 1.4s;
}
.fp-section.active.fp-completely[data-activated-tab="#notifications_push"] #devices__MackBook {
    transform: translateX(-210px) translateY(0);
}
.fp-section.active.fp-completely[data-activated-tab="#notifications_push"] .alert_macOS {
    transform: translateX(0);
}

.fp-section.active.fp-completely[data-activated-tab="#notifications_sms"] #devices__iPhone-X {
    transform: scale(.9) translateX(-250px) translateY(50px);
}
.fp-section.active.fp-completely[data-activated-tab="#notifications_sms"] #devices__iPhone-X>.screen{
    background-position: -310px 0, center 0;
}
.fp-section.active.fp-completely[data-activated-tab="#notifications_sms"] #devices__iPhone-X>.sms-messages>img {
    opacity: 1;
}
.fp-section.active.fp-completely[data-activated-tab="#notifications_sms"] #devices__iPhone-X>.sms-messages>img:nth-child(2) {
    transform: translateY(0);
}
.fp-section.active.fp-completely[data-activated-tab="#notifications_sms"] #devices__MackBook {
    transform: translateX(-1100px);
}


.fp-section.active.fp-completely[data-activated-tab="#notifications_email"] #devices__iPhone-X {
    transform: scale(1) translateX(-200px) translateY(800px);
}
.fp-section.active.fp-completely[data-activated-tab="#notifications_email"] #devices__MackBook {
    transform: translateX(-100px);
}


@media (min-width: 767px) {
    #_notifications {
        background-image: url(../../images/sections/notifications/background.svg);
    }
}
@media (max-width: 768px) {
    .list-style-arrow {
        font-size: 1.25rem;
    }
    .list-style-arrow>li {
        margin-bottom: 1.25rem;
    }
}