.fp-viewing-_statistics #header {
    filter: brightness(0) invert(1);
}

#statistics {
    transition: background .7s ease;
}
#statistics.active.fp-completely {
    background-color: rgba(0,0,0, .5);
}

#list-of-stats {
    text-align: center;
}
#list-of-stats .figure-caption {
    color: #fff;
}
#list-of-stats .stat-count {
    font-size: 3rem;
}
#list-of-stats .stat-name {
    font-size: 1.13rem;
    margin-bottom: 15px;
}
#list-of-stats .stat-point {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
}